@model IEnumerable<ClinicaWeb.Models.Cita>

@{
    ViewData["Title"] = "Listado de Citas";
}

<h2 class="mb-4">Listado de Citas</h2>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Paciente</th>
        <th>Médico</th>
        <th>Fecha y Hora</th>
        <th>Motivo</th>
        <th>Estado</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var cita in Model)
    {
        <tr>
            <td>@cita.IdCita</td>
            <td>@cita.IdPacienteNavigation.Nombre @cita.IdPacienteNavigation.Apellido</td>
            <td>@cita.IdMedicoNavigation.Nombre @cita.IdMedicoNavigation.Apellido</td>
            <td>@cita.FechaHora.ToString("dd/MM/yyyy HH:mm")</td>
            <td>@cita.MotivoConsulta</td>
            <td>@cita.Estado</td>
        </tr>
    }
    </tbody>
</table>
<a href="/Account/Dashboard?rol=@ViewBag.Rol" class="btn btn-secondary ms-2">atras</a>